@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model PMS.BOL.StudentDto

@{
    var userDetails = Accessor?.HttpContext?.Session.GetObject<PMS.BOL.LoggedInUserVM>("LoggedInUser");
}
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.ActionLink("Index","Student")">Home</a></li>
                        <li class="breadcrumb-item">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="../../dist/img/user4-128x128.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@userDetails?.StudentDto?.Name</h3>

                            <p class="text-muted text-center">Software Engineer</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Education</strong>

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                            <p class="text-muted">Malibu, California</p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>

                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

            <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Placement Drives</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        
                      </div>
                     
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

                @*<div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#edit" data-toggle="tab">Edit Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="edit">
                                    <!-- Post -->
                                    <div class="post">
                                        <section class="content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card card-primary">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Personal Information</h3>

                                                            <div class="card-tools">
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="card card-secondary">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">Basic Information</h3>

                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">

                                                                    <div class="form-group">
                                                                        <label for="GenederSelect">Gender</label>
                                                                        @Html.DropDownListFor(x=>x.Gender, new List<SelectListItem>{
                                                                        new SelectListItem {Value ="", Text = "   ---Select---  "},
                                                                        new SelectListItem {Value = "Male", Text = "Male"},
                                                                        new SelectListItem{Value ="Female", Text = "Female"},
                                                                        new SelectListItem{Value = "None", Text ="None of the above"}
                                                                        }, new{@class="form-control",@required=true, @id ="GenederSelect"})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputDescription">Date Of Birth</label>
                                                                        @Html.TextBoxFor(x=>x.Dob, new{@class= "form-control datepicker", @type="date", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputMS">Marital status</label>
                                                                        @Html.DropDownListFor(x=>x.MaritalStatus, new List<SelectListItem>{
                                                                        new SelectListItem {Value ="", Text = "   ---Select---  "},
                                                                        new SelectListItem {Value = "Single", Text = "Single"},
                                                                        new SelectListItem{Value ="Married", Text = "Married"},
                                                                        new SelectListItem{Value = "Seperated", Text ="Seperated"}
                                                                        }, new{@class="form-control",@required=true, @id ="inputMS"})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputEmail">Email ID</label>
                                                                        @Html.TextBoxFor(x=>x.EmailId, new{@class="form-control",@placeholder="Email ID",@required=true, @id ="inputEmail"} )
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inpuMobile">Mobile Number</label>
                                                                        @Html.TextBoxFor(x=>x.MobileNo, new{@class="form-control",@placeholder="Mobile Number",@required=true} )
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputAddress">Address</label>
                                                                        @Html.TextBoxFor(x=>x.Address, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="sts">State</label>
                                                                        <select asp-for="State" onchange="print_city('state', this.selectedIndex);" name="stt" id="sts" class="form-control" }>
                                                                            @{
                                                                                string[] AgeRagne = new string[] { "Select State", "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Orissa", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttaranchal", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh", "Dadra and Nagar Haveli", "Daman and Diu", "Delhi", "Lakshadweep", "Pondicherry" };
                                                                            }
                                                                            @foreach (var dow in AgeRagne)
                                                                            {
                                                                                <option value="@dow">@dow</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="state">District</label>
                                                                        <select asp-for="District" id="state" class="form-control" required></select>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPIN">PIN</label>
                                                                        @Html.TextBoxFor(x=>x.Pin, new{@class= "form-control", @required=true})
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="card-body">
                                                                <div class="card card-secondary">
                                                                    <div class="card-header">
                                                                        <h3 class="card-title">Additional Information</h3>

                                                                        <div class="card-tools">
                                                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                                <i class="fas fa-minus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="form-group">
                                                                            <label for="inputSkills">Skills</label>
                                                                            @Html.TextBoxFor(x=>x.Skills, new{@class= "form-control", @required=true})
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="inputHobby">Hobbies</label>
                                                                            @Html.TextBoxFor(x=>x.Hobbies, new{@class= "form-control", @required=true})
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="inputHobby">Awards and Achievements</label>
                                                                            @Html.TextBoxFor(x=>x.Remarks, new{@class= "form-control", @required=true})
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- /.card-body -->
                                                    </div>
                                                    <!-- /.card -->
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card card-primary">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Academic Information</h3>

                                                            <div class="card-tools">
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="card card-secondary">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">SSLC</h3>
                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="inputYear10th">Year of Passout</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.PassOutYear10th, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputSchool10th">Name of School</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.School10th, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPercentage10th">Percentage</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.Percentage10th, new{@class= "form-control", @required=true})
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="card card-secondary">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">Higher Secondary</h3>
                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="inputYear10th">Year of Passout</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.PassOutYear12th, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputSchool10th">Name of School</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.School12th, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPercentage10th">Percentage</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.Percentage12th, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="card card-secondary">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">Graduation</h3>
                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="inputYear10th">Year of Passout</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.PassOutYearDegree, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputSchool10th">Name of College</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.CollegeDegree, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPercentage10th">Percentage</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.DegreePercentage, new{@class= "form-control", @required=true})
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="card card-secondary">
                                                                <div class="card-header">
                                                                    <h3 class="card-title">Post Graduation</h3>
                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">

                                                                    <div class="form-group">
                                                                        <label for="inputYear10th">Year of Passout</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.PassOutYearPg, new{@class= "form-control"})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputSchool10th">Name of College</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.CollegePg, new{@class= "form-control"})
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPercentage10th">Percentage</label>
                                                                        @Html.TextBoxFor(x=>x.AcademicDetailDto.PgPercentage, new{@class= "form-control"})
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                        <!-- /.card -->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <a href="@Url.ActionLink("Index","Student")" class="btn btn-secondary">Cancel</a>
                                                        <input type="submit" value="Save" class="btn btn-success float-right">
                                                    </div>
                                                </div>
                                        </section>
                                    </div>
                                    <!-- /.post -->
                                    <!-- /.post -->
                                    <!-- Post -->
                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-danger">
                                                10 Feb. 2014
                                            </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-envelope bg-primary"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                                <div class="timeline-body">
                                                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                    weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                    quora plaxo ideeli hulu weebly balihoo...
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-user bg-info"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                                <h3 class="timeline-header border-0">
                                                    <a href="#">Sarah Young</a> accepted your friend request
                                                </h3>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                                <div class="timeline-body">
                                                    Take me to your leader!
                                                    Switzerland is small and neutral!
                                                    We are more like Germany, ambitious and misunderstood!
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-success">
                                                3 Jan. 2014
                                            </span>
                                        </div>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <div>
                                            <i class="fas fa-camera bg-purple"></i>

                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                                <div class="timeline-body">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                    <img src="https://placehold.it/150x100" alt="...">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                        <div>
                                            <i class="far fa-clock bg-gray"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->*@
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


