
@model PMS.BOL.CollegeDto
@{
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>College</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">College Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                @if (@ViewBag.ErrorCnfMsg != null)
                {
                    <div class="card-body">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                            @ViewBag.ErrorCnfMsg
                        </div>
                    </div>
                }
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create College</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Create", "College", FormMethod.Post))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CollegeName, "Name")
                                @Html.TextBoxFor(x => x.CollegeName, new { @class = "form-control",@placeholder="Name",@required=true })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, "Address")
                                @Html.TextAreaFor(x => x.Address, new { @class = "form-control",@placeholder="Address" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Location, "Location")
                                @Html.TextBoxFor(x => x.Location, new { @class = "form-control",@placeholder="Location" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserDto.Username, "Username")
                                @Html.TextBoxFor(x => x.UserDto.Username, new { @class = "form-control",@placeholder="Username",@required =true })
                            </div>s
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserDto.Password, "Password")
                                @Html.PasswordFor(x => x.UserDto.Password, new { @class = "form-control",@placeholder="Password", @required =true })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserDto.ConfirmPassowrd, "Confirm Password")
                                @Html.PasswordFor(x => x.UserDto.ConfirmPassowrd, new { @class = "form-control",@placeholder="Password",@required =true })
                            </div>
                       
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>