@{
    ViewData["Title"] = "PlacedStudents";
}
<!-- Content Wrapper. Contains page content -->
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Placed Students List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Placed Students</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dynamic-table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>StudentID</th>
                                        <th>Name</th>
                                        <th>Course</th>
                                        <th>Company</th>
                                        <th>Company Location</th>
                                        <th>ContactNo</th>
                                        <th>EmailID</th>
                                        <th>ContactNo of Company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Branches</td>
                                            <td>@item.Address</td>
                                            <td>@item.Location</td>
                                            <td>@item.Website</td>
                                            <td>@item.ContactNo</td>
                                            <td>@item.EmailId</td>
                                            <td> @item.UserDto.Username</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Scripts
    {
    <script>
        $(function () {
            $("#dynamic-table").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#dynamic-table_wrapper .col-md-6:eq(0)');
        });
    </script>
}
