
@model PMS.BOL.PlacementAllocationDto
@{
    
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Interview</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                   
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                @if (@ViewBag.ErrorCnfMsg != null)
                {
                    <div class="card-body">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                            @ViewBag.ErrorCnfMsg
                        </div>
                    </div>
                }
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Enter Comments</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @*@using (Html.BeginForm("InterviewComment", "PlacementAllocation", FormMethod.Post))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment.CommentforStudent "CommentForStudent")
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control",@placeholder="CommentForStudent",@required=true })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CommentForOrg, "commentForOrg")
                                @Html.TextAreaFor(x => x.CommentForOrg, new { @class = "form-control",@placeholder="commentForOrg" })
                            </div>
                            
                        </div>*@
                       
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
</section>