@model PMS.BOL.PlacementDriveDto
@{
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Create Placement Drive</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"> Create PlacementDrive </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                @if (@ViewBag.ErrorCnfMsg != null)
                {
                    <div class="card-body">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                            @ViewBag.ErrorCnfMsg
                        </div>
                    </div>
                }
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create PlacementDrive</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Create", "PlacementDrive", FormMethod.Post))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.InterviewDate, "InterviewDate")
                                @Html.TextBoxFor(x => x.InterviewDate, new { @class = "form-control",@placeholder="Interview Date",@required=true })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CollegeId, "College")
                                @Html.DropDownListFor(x => x.CollegeId,(SelectList)ViewBag.collegeList, new { @class = "form-control"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoOfVacancies, "NoOfVacancies")
                                @Html.TextBoxFor(x => x.NoOfVacancies, new { @class = "form-control",@placeholder="No of Vacancies" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Package, "Package")
                                @Html.TextBoxFor(x => x.Package, new { @class = "form-control",@placeholder="Package" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Place, "Place")
                                @Html.TextBoxFor(x => x.Place, new { @class = "form-control",@placeholder="Place" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, "Title")
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control",@placeholder="Title" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Details, "Details")
                                @Html.TextBoxFor(x => x.Details, new { @class = "form-control",@placeholder="Details" })
                            </div>
                        </div>



                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>