 @model IEnumerable<PMS.BOL.CompanyDto>;
@{
    ViewBag.Title = "Company";
}
<!-- Content Wrapper. Contains page content -->
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Companies</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Companies</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <p class="float-right">
                            <a href="@Url.Action("Create")" class="btn btn-info"><i class="fa fa-plus"></i>Add Company<a>
                        </p>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="dynamic-table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>                                        
                                        <th>Address</th>
                                        <th>Location</th>
                                        <th>Website</th>
                                        <th>ContactNo</th>
                                        <th>EmailID</th>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>                                           
                                            <td>@item.Address</td>
                                            <td>@item.Location</td>
                                            <td>@item.Website</td>
                                            <td>@item.ContactNo</td>
                                            <td>@item.EmailId</td>
                                            <td> @item.UserDto.Username</td>
                                             <td class="project-actions text-right">
                                                <a class="btn btn-info btn-sm" href="@Url.Action("Edit","Company",new { id = @item.CompanyId })"><i class="fas fa-pencil-alt">  </i> Edit </a>
                                                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Company",new { id = @item.CompanyId })"><i class="fas fa-trash"> </i>Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section Scripts
{
<script>
    $(function () {
      $("#dynamic-table").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#dynamic-table_wrapper .col-md-6:eq(0)');
    });
</script>
}
